@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
#navbar{
    padding: 0.6em 5em;
    font-size: 1.3em;
}

body {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.row{
    color: black;
}


.carousel-inner img{
    max-height: 60vh;; 
    object-fit: cover;
}

.cardt{
    padding: 3em 0;
    height: 20vh;
}

.cardt .disp{
    display: flex; /* Utilizamos flexbox para centrar */
    justify-content: right; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.container{
    margin: 1em 0;
}

.pagination{
    margin: 3em 0;
}
